<div class="load-menu row">
    <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Saved Games</h3>
            </div>
            <div class="list-group">
                {{#each}}
                    <a href="#" class="list-group-item" {{action "gameListItemClicked" id}}>{{name}}</a>
                {{/each}}
            </div>
            <div class="panel-body">
                <form class="form-inline" {{action "newGameForm" on="submit"}}>
                    <div {{bind-attr class=":form-group hasError"}}>
                        {{input type="text" placeholder="your name" class="form-control" value=newGameName}}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">New Game</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
